@page "/articles"

@inject IArticleService ArticleService
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject IJSRuntime JS

<PageTitle>Articles</PageTitle>

<button class="btn btn-primary" 
    @onclick="() => OpenAddArticleModal(false)">
    Add
</button>


<br/>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

            @if (!articles.Any())
            {
                <div class="text-center py-5">
                    <div class="spinner-border text-primary"></div>
                    <div class="mt-2 text-muted">Loading articles...</div>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="fw-bold mb-0">News Feed</h6>
                    <small class="text-muted">Total: @articles.Count()</small>
                </div>

                @foreach (var article in articles)
                {
                    <div class="card mb-3 shadow-sm border-0">
                        <div class="card-body">

                            <!-- Header: Title + 3-dot menu -->
                            <div class="d-flex justify-content-between align-items-start">
                                <div>
                                    <h5 class="card-title mb-1 fw-semibold">@article.Title</h5>
                                    <small class="text-muted">Posted just now</small>
                                </div>

                                <!-- 3-dot dropdown -->
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-light p-1"
                                            type="button"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <i class="bi bi-three-dots"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" style="cursor: pointer;" @onclick="() => EditArticle(article.Id)">
                                                Edit Article
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" style="cursor: pointer;" @onclick="() => DeleteArticle(article.Id)">
                                                Delete
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li>
                                            <a class="dropdown-item" style="cursor: pointer;" @onclick="() => ShareArticle(article.Id)">
                                                Share
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <hr />

                            <!-- Footer Actions -->
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-light btn-sm flex-fill me-2"
                                        @onclick="() => openDetail(article.Id)">
                                    <i class="bi bi-book me-1"></i> Read More
                                </button>

                                <button class="btn btn-light btn-sm flex-fill"
                                        @onclick="() => likeArticle(article.Id)">
                                    <i class="bi bi-hand-thumbs-up me-1"></i> Like
                                </button>

                                <button class="btn btn-light btn-sm flex-fill ms-2"
                                        @onclick="() => commentArticle(article.Id)">
                                    <i class="bi bi-chat me-1"></i> Comment
                                </button>
                            </div>

                        </div>
                    </div>
                }




            }

        </div>
    </div>
</div>




<div class="modal fade"
        id="addArticleModal"
        aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(isEditMode ? "Edit Article" : "Add Article")
                </h5>
                <button type="button" class="btn-close" @onclick="CloseAddArticleModal"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="@selectedArticle" OnValidSubmit="HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <InputText id="title" class="form-control" @bind-Value="selectedArticle.Title" />
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Content</label>
                        <InputTextArea id="content" class="form-control" @bind-Value="selectedArticle.Content" />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        @(isEditMode ? "Update" : "Submit")
                    </button>
                </EditForm>
            </div>
            <div class="modal-footer">
                @* <button class="btn btn-secondary" @onclick="CloseModal">Close</button> *@
                <button class="btn btn-primary" @onclick="CloseAddArticleModal">Go back</button>
            </div>
        </div>
    </div>
</div>

@if (SelectedArticle is not null)
{
    <div class="modal fade"
         id="showDetail">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@SelectedArticle.Title</h5>
                    @* <button type="button" class="btn-close" @onclick="CloseDetailModal"></button> *@
                </div>
                <div class="modal-body">
                    <p>@SelectedArticle.Content</p>
                </div>
                <div class="modal-footer">
                    <small>Created: @SelectedArticle.DateCreated.ToString("MMM-dd-yyyy")</small>
                    <small>Article Id: @SelectedArticle.Id</small>
                    @* <button class="btn btn-secondary" @onclick="CloseModal">Close</button> *@
                    @* <button class="btn btn-primary" @onclick="NavigateBack">Go back</button> *@
                </div>
            </div>
        </div>
    </div>

}


<div class="modal fade" id="testModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Information</h5>
                @* <button type="button" class="btn-close" @onclick="CloseModal"></button> *@
            </div>

            <div class="modal-body">
                <p>Not Implemented yet</p>
            </div>

            <div class="modal-footer">
                @* <button class="btn btn-secondary" @onclick="CloseModal">
	                    Close
	                </button> *@
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="reactionModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Reaction</h5>
                @* <button type="button" class="btn-close" @onclick="CloseModal"></button> *@
            </div>

            <div class="modal-body">
                <p>Not Implemented yet</p>
            </div>

            <div class="modal-footer">
                @* <button class="btn btn-secondary" @onclick="CloseModal">
	                    Close
	                </button> *@
            </div>

        </div>
    </div>
</div>





@code {
    private List<Article> articles = new List<Article>();
    private bool isEditMode = false;
    private int editingArticleId;


    private Article SelectedArticle;

    // for adding article
    private ArticleFormModel selectedArticle = new();


    async Task CloseAddArticleModal()
    {
        // StateHasChanged();
        await JS.InvokeVoidAsync("modalHelper.hide", "addArticleModal");
    }


    async Task OpenAddArticleModal(bool _isEditMode)
    {
        isEditMode = _isEditMode;
        await JS.InvokeVoidAsync("modalHelper.show", "addArticleModal");
    } 

    private async Task HandleValidSubmit()
    {
        
        if (isEditMode)
        {

            await UpdateArticle();
        }
        else
        {
            await CreateArticle();
        }

        await CloseAddArticleModal();

        // var article = Article.Create(newArticle.Title, newArticle.Content);
        // var result = await ArticleService.AddAsync(article);
        // if (result is not null)
        // {
        //     articles.Add(result);
        //     CloseAddArticleModal();
        // }
        // using jsRuntime modal you have to reset the form everytime you open one

        // Reseting States 
        isEditMode = false;
        selectedArticle = new();

    }

    private async Task CreateArticle()
    {
        var article = Article.Create(selectedArticle.Title, selectedArticle.Content);
        var result = await ArticleService.AddAsync(article);

        if (result is not null)
        {
            articles.Add(article);
        }
    }


    private async Task UpdateArticle()
    {
        var article = await ArticleService.GetByIdAsync(editingArticleId);

        if (article is null)
        {
            throw new Exception("Article not Found");
        }


        article.Update(selectedArticle.Title, selectedArticle.Content);

        var result = await ArticleService.UpdateAsync(article);

        if (result is not null)
        {
            var index = articles.FindIndex(a => a.Id == editingArticleId);
            if (index != -1)
            {
                articles[index] = result;
            }
        }
    }


    protected override async Task OnInitializedAsync()
    {
        var result = await ArticleService.GetAllArticlesAsync();
        if (result is not null)
        {
            articles = result;
        }


    }

    // This is for Demonstration only but you can use the
    // asticle List to show the details of the article in a modal
    async Task openDetail(int Id)
    {
        var result = await ArticleService.GetByIdAsync(Id);

        if (result is null)
        {
            throw new Exception("Article not found");
        }

        SelectedArticle = result;

        StateHasChanged();
        await JS.InvokeVoidAsync("modalHelper.show", "showDetail");
    }

    async Task likeArticle(int articleId)
    {
        StateHasChanged();
        await JS.InvokeVoidAsync("modalHelper.show", "reactionModal");
    }

    async Task commentArticle(int articleId)
    {
        StateHasChanged();
        await JS.InvokeVoidAsync("modalHelper.show", "testModal");
    }

    async Task EditArticle(int articleId)
    {
        var article = await ArticleService.GetByIdAsync(articleId);

        if (article is null)
        {
            throw new Exception("Article not found");
        }

        isEditMode = true;
        editingArticleId = articleId;

        selectedArticle =
        new ArticleFormModel
        {
            Title = article.Title,
            Content = article.Content
        };

        await OpenAddArticleModal(true);
    }

    async Task DeleteArticle(int articleId)
    {
        StateHasChanged();
        await JS.InvokeVoidAsync("modalHelper.show", "testModal");
    }

    async Task ShareArticle(int articleId)
    {
        StateHasChanged();
        await JS.InvokeVoidAsync("modalHelper.show", "testModal");
    }
}
